{% extends "CodingGuysCMSBundle:PostReport:layout.html.twig" %}

{% block mainContent %}
    <style>
        input {width:200px;}
    </style>
<div class="container">
    <div>
        <form action="{{ path('post_report_home') }}" method="get">
            <label for="AppBundle_post_tags" class="required">Tags</label>
            <input type="text" id="AppBundle_post_tags" name="tags" value="{{ app.request.get("tags") }}" placeholder="AND operator"/>
            <label for="AppBundle_post_cities" class="required">Cities</label>
            <input type="text" id="AppBundle_post_cities" name="cities" value="{{ app.request.get("cities") }}" placeholder="OR operator"/>
            <label for="AppBundle_post_rank" class="required">Rank</label>
            <input type="text" id="AppBundle_post_rank" name="rank" value="-1"/>
            <label for="AppBundle_post_search" class="required">Search</label>
            <input type="text" id="AppBundle_post_search" name="search" value="{{ app.request.get("search") }}"/>
            <br/>
            <label for="AppBundle_post_publishStatus" class="required">Publish status</label>
            <select id="AppBundle_post_publishStatus" name="publishStatus">
                <option value="">All</option>
                {% for key, label in lovPublishStatus %}
                    {% if key == app.request.get('publishStatus') %}
                        <option value="{{ key }}" selected>{{ label }}</option>
                    {% else %}
                        <option value="{{ key }}">{{ label }}</option>
                    {% endif %}
                {% endfor %}
            </select>
            <label for="AppBundle_post_showAtHomepage" class="required">show at homepage</label>
            <select id="AppBundle_post_showAtHomepage" name="showAtHomepage">
                <option value="">All</option>
                {% if 'Y' == app.request.get('showAtHomepage') %}
                    <option value="Y" selected>Y</option>
                {% else %}
                    <option value="Y">Y</option>
                {% endif %}

                {% if 'N' == app.request.get('showAtHomepage') %}
                    <option value="N" selected>N</option>
                {% else %}
                    <option value="N">N</option>
                {% endif %}
            </select>
            <br/>
            <label for="AppBundle_post_startDate" class="required">Start Date</label>
            <input type="text" id="AppBundle_post_startDate" name="startDate" value="{{ app.request.get("startDate") }}" placeholder="{{ startDatePlaceHolder }}"/>
            <label for="AppBundle_post_endDate" class="required">End Date</label>
            <input type="text" id="AppBundle_post_endDate" name="endDate" value="{{ app.request.get("endDate") }}" placeholder="{{ endDatePlaceHolder }}"/>
            <button type="submit" id="AppBundle_post_submit" name="submit" class="btn btn-default">filter</button>
        </form>
    </div>
    <p>Last Report updated at {{ lastUpdateTime }}</p>
    <a href="{{ path('post_report_rerank') }}" class="btn btn-default">Re-rank</a>
    <table class="table">
        <thead>
            <tr>
                <th>Row Num</th>
                <th>Rank Position</th>
                <th>finalScore</th>
                <th>create date</th>
                <th>meta</th>
                <th>content</th>
                <th>tags</th>
                <th>cities</th>
                <th>publish status</th>
                <th>publish action</th>
                <th>homepage action</th>
                <th>shortlink</th>
            </tr>
        </thead>
        <tbody>
        {% set rowNum = (page - 1) * limit + 1 %}
        {% for post in pagination %}
            <tr>
                <td>{{ rowNum }}</td>
                <td>{{ post.rankPosition }}</td>
                <td>{{ post.finalScore }}</td>
                <td>{{ post.createAt|date('Y-m-d\\TH:i:sP') }}</td>
                <td>
                    <ul>
                        {% if post.mnemonoBiz is not null %}
                            <li><a href="{{ path('mnemonobiz_show', {'id': post.mnemonoBiz.id })}}">{{ post.mnemonoBiz.name }}</a></li>
                        {% endif %}
                        {% if post.meta is not null %}
                            <li>Total Likes: {{ post.meta.fbTotalLikes }}</li>
                            <li>Total Comments: {{ post.meta.fbTotalComments }}</li>
                        {% endif %}
                    </ul>
                </td>
                <td><a href="{{ path('posts_edit', {'id':post.id}) }}" target="_blank">-- {{ post.briefContent }}</a></td>
                <td>
                    {% for tag in post.tags %}
                        {{ tag }},
                    {% endfor %}
                </td>
                <td>
                    {% for city in post.cities %}
                        {{ city }},
                    {% endfor %}
                </td>
                <td>
                    {{ post.publishStatus }}
                </td>
                <td>
                    {% if post.publishStatus == "published" %}
                    <a class="publishTrigger" data-url="{{ path('posts_publish', {'id':post.id }) }}" data-action="0" data-id="{{ post.id }}" href="#">to review</a>
                    {% else %}
                    <a class="publishTrigger" data-url="{{ path('posts_publish', {'id':post.id }) }}" data-action="1" data-id="{{ post.id }}" href="#">to publish</a>
                    {% endif %}
                </td>
                <td>
                    {% if not post.isShowAtHomepage %}
                        <a class="setHomepageTrigger" data-url="{{ path('posts_set_homepage', {'id':post.id }) }}" data-action="1" data-id="{{ post.id }}" href="#">show</a>
                    {% else %}
                        <a class="setHomepageTrigger" data-url="{{ path('posts_set_homepage', {'id':post.id }) }}" data-action="0" data-id="{{ post.id }}" href="#">hidden</a>
                    {% endif %}
                </td>
                <td>
                    <a href="{{ post.originalLink }}" target="_blank">shortlink</a>
                </td>
            </tr>
            {% set rowNum = rowNum + 1 %}
        {% endfor %}
        </tbody>
    </table>
    <div class="text-center">
        {{ knp_pagination_render(pagination) }}
    </div>
</div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/codingguyscms/js/paginatorCSS.js') }}"></script>
    <script>
        $(document).ready(function(){
            $(".setHomepageTrigger").each(function(i, element){
                $(element).click(function(e){
                    e.preventDefault();
                    var action = $(element).attr("data-action");
                    var url = $(element).attr("data-url");
                    $.ajax({
                        "url": url,
                        "method": "PUT",
                        "data": { "set" : action },
                        "success": function(data){
                            window.location.reload();
                        },
                        "dataType": 'json',
                    });
                });
            });
            $(".publishTrigger").each(function(i, element){
                $(element).click(function(e){
                    e.preventDefault();
                    var action = $(element).attr("data-action");
                    var url = $(element).attr("data-url");
                    $.ajax({
                        "url": url,
                        "method": "PUT",
                        "data": { "set" : action },
                        "success": function(data){
                            window.location.reload();
                        },
                        "dataType": 'json',
                    });
                });
            });
        });
    </script>

{% endblock %}

