{% extends "CodingGuysCMSBundle:PostReport:layout.html.twig" %}

{% block mainContent %}
    <style>
        input {width:200px;}
        .item-count {
            color: #666;
            font-size: 12px;
            margin: 20px 0 10px;
        }
    </style>
<div class="container">
    <div class="page-header">
        <h2>Post Ranking <a href="{{ path('post_report_rerank') }}" class="btn btn-default btn-sm">rank now</a></h2>
        {% if lastUpdateTime %}
            <p><small>Ranking updated at {{ lastUpdateTime|date('Y-m-d H:i') }}</small></p>
        {% endif %}
    </div>
    <div>
        <form action="{{ path('post_report_home') }}" method="get">
            <div class="col-md-3">
                <div class="form-group">
                    <label for="tags">tags (logical AND)</label>
                    <input type="text" id="tags" name="tags" value="{{ filterParams["tags"] }}" placeholder="e.g., info, game" class="form-control" />
                </div>
                <div class="form-group">
                    <label for="cities">cities (logical OR)</label>
                    <input type="text" id="cities" name="cities" value="{{ filterParams["cities"] }}" placeholder="e.g., hk, mo" class="form-control" />
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label for="rank">rank position</label>
                    <input type="text" id="rank" name="rank" value="{{ filterParams['rank'] }}" placeholder="e.g., 1" class="form-control" />
                </div>
                <div class="form-group">
                    <label for="keyword">keywords in content</label>
                    <input type="text" id="keyword" name="search" value="{{ filterParams["search"] }}" placeholder="e.g., free" class="form-control" />
                </div>
            </div>
            <div class="col-md-2">
                <div class="form-group">
                    <label for="publishStatus">status</label>
                    <select id="publishStatus" name="publishStatus" class="form-control">
                        <option value="">all</option>
                        {% for key, label in lovPublishStatus %}
                            {% if key == filterParams['publishStatus'] %}
                                <option value="{{ key }}" selected>{{ label }}</option>
                            {% else %}
                                <option value="{{ key }}">{{ label }}</option>
                            {% endif %}
                        {% endfor %}
                    </select>
                </div>
                <div class="form-group">
                    <label for="showAtHomepage">show at homepage?</label>
                    <select id="showAtHomepage" name="showAtHomepage" class="form-control">
                        <option value="">all</option>
                        {% if 'Y' == filterParams['showAtHomepage'] %}
                            <option value="Y" selected>yes</option>
                        {% else %}
                            <option value="Y">yes</option>
                        {% endif %}

                        {% if 'N' == filterParams['showAtHomepage'] %}
                            <option value="N" selected>no</option>
                        {% else %}
                            <option value="N">no</option>
                        {% endif %}
                    </select>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label for="startDate">start date</label>
                    <input type="text" id="startDate" name="startDate" value="{{ filterParams["startDate"] }}" placeholder="e.g., {{ startDatePlaceHolder }}" class="form-control" />
                </div>
                <div class="form-group">
                    <label for="endDate">end date</label>
                    <input type="text" id="endDate" name="endDate" value="{{ filterParams["endDate"] }}" placeholder="e.g., {{ endDatePlaceHolder }}" class="form-control"/>
                </div>
                <button type="submit" class="btn btn-primary pull-right">
                    <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                    <span>search</span>
                </button>
            </div>
            <div class="clearfix"></div>
        </form>
    </div>
    <p class="item-count">{{ pagination.getTotalItemCount }} item(s)</p>
    <table class="table">
        <thead>
            <tr>
                <th class="text-center">row #</th>
                <th class="text-center">rank</th>
                <th class="text-center">score</th>
                <th class="text-center">created time</th>
                <th class="text-center">by</th>
                <th class="text-center">content</th>
                <th class="text-center">tags</th>
                <th class="text-center">cities</th>
                <th class="text-center">status</th>
                <th class="text-center">homepage visibility</th>
                <th class="text-center">original link</th>
            </tr>
        </thead>
        <tbody>
        {% set rowNum = (page - 1) * limit + 1 %}
        {% for post in pagination %}
            <tr>
                <td class="text-center">{{ rowNum }}</td>
                <td class="text-center">{{ post.rankPosition }}</td>
                <td class="text-right">{{ post.finalScore|number_format(3) }}</td>
                <td class="text-center">{{ post.createAt|date('Y-m-d H:i') }}</td>
                <td>
                    {% if post.mnemonoBiz is not null %}
                        <div><a href="{{ path('mnemonobiz_edit', {'id': post.mnemonoBiz.id })}}">{{ post.mnemonoBiz.name }}</a></div>
                    {% endif %}
                </td>
                <td>
                    <a href="{{ path('posts_edit', {'id':post.id}) }}" target="_blank">{{ post.briefContent ? post.briefContent : '---' }}</a>
                    {% if post.meta is not null %}
                        {% if post.importFrom == "facebookFeed" %}
                            <div>
                                <small>
                                    Like: {{ post.meta.fbTotalLikes }}
                                    &nbsp;/&nbsp;
                                    Comment: {{ post.meta.fbTotalComments }}
                                </small>
                            </div>
                        {% elseif post.importFrom == "weiboFeed" %}
                            <div>
                                <small>
                                    Like: {{ post.meta.likeCount }}
                                    &nbsp;/&nbsp;
                                    Comment: {{ post.meta.commentsCount }}
                                </small>
                            </div>
                        {% endif %}
                    {% endif %}
                </td>
                <td class="text-center">
                    {{ post.tags|join(', ') }}
                </td>
                <td class="text-center">
                    {{ post.cities|join(', ') }}
                </td>
                <td class="text-center">
                    <div>
                        {{ post.publishStatus }}
                    </div>
                    <div>
                        {% if post.publishStatus == "published" %}
                            (<a class="publishTrigger" data-url="{{ path('posts_publish', {'id':post.id }) }}" data-action="0" data-id="{{ post.id }}" href="#">review</a>)
                        {% else %}
                            (<a class="publishTrigger" data-url="{{ path('posts_publish', {'id':post.id }) }}" data-action="1" data-id="{{ post.id }}" href="#">publish</a>)
                        {% endif %}
                    </div>
                </td>
                <td class="text-center">
                    {% if not post.isShowAtHomepage %}
                        <a class="setHomepageTrigger" data-url="{{ path('posts_set_homepage', {'id':post.id }) }}" data-action="1" data-id="{{ post.id }}" href="#">show</a>
                    {% else %}
                        <a class="setHomepageTrigger" data-url="{{ path('posts_set_homepage', {'id':post.id }) }}" data-action="0" data-id="{{ post.id }}" href="#">hide</a>
                    {% endif %}
                </td>
                <td class="text-center">
                    <a href="{{ post.originalLink }}" target="_blank">link</a>
                </td>
            </tr>
            {% set rowNum = rowNum + 1 %}
        {% endfor %}
        </tbody>
    </table>
    <div class="text-center">
        {{ knp_pagination_render(pagination) }}
    </div>
</div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script>
        $(document).ready(function(){
            $(".setHomepageTrigger").each(function(i, element){
                $(element).click(function(e){
                    e.preventDefault();
                    var action = $(element).attr("data-action");
                    var url = $(element).attr("data-url");
                    $.ajax({
                        "url": url,
                        "method": "PUT",
                        "data": { "set" : action },
                        "success": function(data){
                            window.location.reload();
                        },
                        "dataType": 'json',
                    });
                });
            });
            $(".publishTrigger").each(function(i, element){
                $(element).click(function(e){
                    e.preventDefault();
                    var action = $(element).attr("data-action");
                    var url = $(element).attr("data-url");
                    $.ajax({
                        "url": url,
                        "method": "PUT",
                        "data": { "set" : action },
                        "success": function(data){
                            window.location.reload();
                        },
                        "dataType": 'json',
                    });
                });
            });
        });
    </script>
{% endblock %}
