{% extends "CodingGuysCMSBundle:Settings:layout.html.twig" %}

{% block mainContent %}
    <div class="container">
        <div class="page-header">
            <a href="{{ path('weighting_home') }}">&laquo;&nbsp;Back to Weighting list</a>
        </div>
        {{ form_start(form) }}
        {{ form_errors(form) }}
        <div class="form-group">
            {{ form_label(form.name) }}
            {{ form_errors(form.name) }}
            {{ form_widget(form.name, {'attr': {'class': 'form-control'} }) }}
        </div>
        <div class="form-group">
            {{ form_label(form.value) }}
            {{ form_errors(form.value) }}
            {{ form_widget(form.value, {'attr': {'class': 'form-control'} }) }}
        </div>
        {{ form_end(form) }}
    </div>
{% endblock %}
