{% extends "CodingGuysCMSBundle:Settings:layout.html.twig" %}

{% block mainContent %}
    <style>
        th, li{
            white-space: nowrap;
        }
        ul{
            padding: 0;
            list-style-type: none;
        }
    </style>
    <div class="container">
        <div class="page-header">
            <h2>Settings</h2>
        </div>
        <h4>Weighting <a class="btn btn-default btn-sm" href="{{ path('weighting_create') }}">Create</a></h4>
        <p>{{ pagination.getTotalItemCount }} item(s)</p>
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Name</th>
                <th>Value</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for document in pagination %}
                <tr>
                    <td><a href="{{ path('weighting_edit', {id:document.id}) }}">{{ document.name }}</a></td>
                    <td>{{ document.value }}</td>
                    <td>
                        <a href="{{ path('weighting_edit', {id:document.id}) }}">edit</a>
                            &nbsp;&middot;&nbsp;
                        <a href="{{ path('weighting_delete', {id:document.id}) }}">delete</a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="text-center">
        {{ knp_pagination_render(pagination) }}
    </div>
{% endblock %}
