{% extends "AppBundle:layout:layout.html.twig" %}

{% block headerBar %}
    <ul class="nav navbar-nav">
        <li class="active">
            <a href="{{ path('@BackendHome') }}">Dashboard</a>
        </li>
    </ul>
    <ul class="nav navbar-nav">
        <li class="active">
            <a href="{{ path('posts_home') }}">Posts</a>
        </li>
    </ul>
{% endblock %}

{% block mainContent %}
    <style>
        th, li{
            white-space: nowrap;
        }
        ul{
            padding: 0;
            list-style-type: none;
        }
    </style>
    <div class="container">
        <h2>Posts list</h2>
        <div class="container">
            {#<div class="navbar-header">
                <a class="btn btn-primary btn-large" href="{{ path('mnemonobiz_new') }}"> Create MnemonoBiz </a>
            </div>#}
            <div id="navbar" class="navbar-collapse collapse">
                <form class="navbar-form navbar-right" role="form" method="get" action="{{ path('posts_search')}}">
                    <div class="form-group">
                        <input name="query" type="text" placeholder="keyword" class="form-control">
                    </div>
                    <button type="submit" class="btn btn-success">Search</button>
                </form>
            </div>
        </div>
        <table class="records_list table table-striped">
            <thead>
            <tr>
                <th>Id</th>
                <th>Action</th>
                <th>Content</th>
                <th>Tags</th>
                <th>MnemonoCat</th>
                <th>Last Modified date</th>
                <th>Ranking Score by Algorithm</th>
                <th>Ranking Score by Human</th>
                <th>MnemonoBiz</th>
                <th>Import From</th>
                <th>Meta</th>
                <th>Publish Status</th>
            </tr>
            </thead>
            <tbody>
            {% for document in pagination %}
                <tr>
                    <td>{{ document.id }}</td>
                    <td>
                        <ul>
                            <li>
                                <a href="{{ path('posts_show', { 'id': document.id }) }}">show</a>
                            </li>
                            <li>
                                <a href="{{ path('posts_edit', { 'id': document.id }) }}">edit</a>
                            </li>
                        </ul>
                    </td>
                    <td>{{ document.content }}</td>
                    <td>
                            {% for tag in document.tags %}
                                <li>{{ tag }}</li>
                            {% endfor %}
                        </ul>
                    </td>
                    <td>{{ document.mnemonoCat }}</td>
                    {% if document.lastModDate is not null %}
                        <td>{{ document.lastModDate.format('Y-m-d') }}</td>
                    {% else %}
                        <td></td>
                    {% endif %}
                    <td>{{ document.rankingScoreAlgorithm }}</td>
                    <td>{{ document.rankingScoreHuman }}</td>
                    {% if document.mnemonoBiz is not null %}
                        <td><a href="{{ path('mnemonobiz_show', {'id': document.mnemonoBiz.id })}}">{{ document.mnemonoBiz.name }}</a></td>
                    {% else %}
                        <td>null</td>
                    {% endif %}
                    {% if document.importFromRef is not null %}
                        <td>{{ document.importFrom }}<td>
                    {% else %}
                        <td>{{ document.importFrom }}<td>
                    {% endif %}
                    {% if document.meta is not null %}
                        <ul>
                            <li>Facebook ID: {{ document.meta.fbId }}</li>
                            <li>Total Likes: {{ document.meta.fbTotalLikes }}</li>
                            <li>Total Comments: {{ document.meta.fbTotalComments }}</li>
                        </ul>
                    {% else %}
                        <td>null<td>
                    {% endif %}
                    <td>{{ document.publishStatus }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <div class="text-center">
            {{ knp_pagination_render(pagination) }}
        </div>
    </div>
    {% block footer %}
        <div class="container">
            {{ parent() }}
        </div>
    {% endblock %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        jQuery(document).ready(function () {
            jQuery('div.pagination span.current').each(function (index) {
                jQuery(this).replaceWith(jQuery('<li class="active"><a href="#">' + this.innerHTML + '</a></li>'));
            });
            var classArray = ['first', 'previous', 'page', 'next', 'last'];
            jQuery.each(classArray, function (key, className) {
                jQuery('div.pagination span.' + className).each(function (index) {
                    jQuery(this).replaceWith(jQuery('<li>' + this.innerHTML + '</li>'));
                });
            })
            jQuery('div.pagination').each(function (index) {
                jQuery(this).replaceWith(jQuery('<ul class="pagination">' + this.innerHTML + '</ul>'));
            });

        });
    </script>
{% endblock %}