{% extends "CodingGuysCMSBundle:SpotlightAds:layout.html.twig" %}

{% block mainContent %}
    <div class="container">
        {{ form_start(form) }}
        {{ form_errors(form) }}
        <div class="form-group">
            {{ form_label(form.description) }}
            {{ form_errors(form.description) }}
            {{ form_widget(form.description, {'attr': {'class': 'form-control'} }) }}
        </div>
        <div class="form-group">
            {{ form_label(form.displaySeq) }}
            {{ form_errors(form.displaySeq) }}
            {{ form_widget(form.displaySeq, {'attr': {'class': 'form-control'} }) }}
        </div>
        <div class="form-group">
            {{ form_label(form.imageLink) }}
            {{ form_errors(form.imageLink) }}
            {{ form_widget(form.imageLink, {'attr': {'class': 'form-control'} }) }}
        </div>
        {{ form_end(form) }}

        <ul class="record_actions list list-inline">
            <li>
                <a href="{{ path('spotlightAds_home') }}" class="btn btn-link">
                    Back to the list
                </a>
            </li>
        </ul>
    </div>
{% endblock %}