{% extends "CodingGuysCMSBundle:PostsCRUD:layout.html.twig" %}

{% block mainContent %}
    <style>
        .cg{
            width:80%;
            margin-right: 10px;
            margin-bottom: 5px;
            margin-top: 5px;
        }
        .inline-img {
            display: inline-block;
            max-width: 80%;
            margin: 5px 5px 5px 0;
        }
    </style>
    <div class="container">
        <div class="page-header">
            <a href="{{ path('posts_home') }}">All Posts</a>
            <h2>{{ header }}</h2>
            {% if post is not null %}
                <p>
                    <a href="{{ path('posts_source_raw', {'id': post.id}) }}">raw</a>
                    &nbsp;&middot;&nbsp;
                    <a href="{{ path('posts_show_snapshots', { 'id': post.id }) }}">snapshots</a>
                    &nbsp;&middot;&nbsp;
                    <a href="{{ path('posts_show_stats', { 'id': post.id }) }}">stats</a>
                </p>
            {% endif %}
        </div>
        {{ form_start(form) }}
        {{ form_errors(form) }}
        <div class="form-group">
            {{ form_label(form.id) }}
            {{ form_errors(form.id) }}
            {{ form_widget(form.id, {'attr': {'class': 'form-control'} }) }}
        </div>
        <div class="form-group">
            {{ form_label(form.content) }}
            {{ form_errors(form.content) }}
            {{ form_widget(form.content, {'attr': {'class': 'form-control'} }) }}
        </div>
        <div class="form-group">
            {{ form_label(form.tags) }}
            <a id="add-another-tag" href="#" class="btn btn-default btn-sm">Add another tag</a>
            <ul id="tag-fields-list" data-prototype="{{ form_widget(form.tags.vars.prototype)|e }}">
                {% for tag in form.tags %}
                    <li>
                        {{ form_errors(tag) }}
                        {{ form_widget(tag, {'attr': {'class': 'cg'} }) }}
                    </li>
                {% endfor %}
            </ul>
        </div>
        <div class="form-group">
            {{ form_label(form.cities) }}
            <a id="add-another-city" href="#" class="btn btn-default btn-sm">Add another city</a>
            <ul id="city-fields-list" data-prototype="{{ form_widget(form.cities.vars.prototype)|e }}">
                {% for city in form.cities %}
                    <li>
                        {{ form_errors(city) }}
                        {{ form_widget(city, {'attr': {'class': 'cg'} }) }}
                    </li>
                {% endfor %}
            </ul>
        </div>
        <div class="form-group">
            {{ form_label(form.imageLinks) }}
            <a id="add-another-url" href="#" class="btn btn-default btn-sm">Add another url</a>
            <ul id="url-fields-list" data-prototype="{{ form_widget(form.imageLinks.vars.prototype)|e }}">
                {% set i = 0 %}
                {% for imageLink in form.imageLinks %}
                    <li>
                        {{ form_errors(imageLink) }}
                        {{ form_widget(imageLink, {'attr': {'class': 'cg'} }) }}
                        <a href="{{ form.vars.value.imageLinks[i] }}" target="_blank">
                            <img src="{{ form.vars.value.imageLinks[i] }}" class="inline-img">
                        </a>
                    </li>
                    {% set i = i + 1 %}
                {% endfor %}
            </ul>
        </div>
        <div class="form-group">
            {{ form_label(form.videoLinks) }}
            <a id="add-another-video" href="#" class="btn btn-default btn-sm">Add another video</a>
            <ul id="video-fields-list" data-prototype="{{ form_widget(form.videoLinks.vars.prototype)|e }}">
                {% set i = 0 %}
                {% for videoLink in form.videoLinks %}
                    <li>
                        {{ form_errors(videoLink) }}
                        {{ form_widget(videoLink, {'attr': {'class': 'cg'} }) }}
                        <a href="{{ form.vars.value.videoLinks[i] }}" target="_blank">
                            play
                        </a>
                    </li>
                    {% set i = i + 1 %}
                {% endfor %}
            </ul>
        </div>
        <div class="form-group">
            {{ form_label(form.originalLink) }}
            {{ form_errors(form.originalLink) }}
            {{ form_widget(form.originalLink, {'attr': {'class': 'form-control'} }) }}
        </div>
        <div class="form-group">
            {{ form_label(form.rankPosition) }}
            {{ form_errors(form.rankPosition) }}
            {{ form_widget(form.rankPosition, {'attr': {'class': 'form-control'} }) }}
        </div>
        <div class="form-group">
            {{ form_label(form.localScore) }}
            {{ form_errors(form.localScore) }}
            {{ form_widget(form.localScore, {'attr': {'class': 'form-control'} }) }}
        </div>
        <div class="form-group">
            {{ form_label(form.adminScore) }}
            {{ form_errors(form.adminScore) }}
            {{ form_widget(form.adminScore, {'attr': {'class': 'form-control'} }) }}
        </div>
        <div class="form-group">
            {{ form_label(form.finalScore) }}
            {{ form_errors(form.finalScore) }}
            {{ form_widget(form.finalScore, {'attr': {'class': 'form-control'} }) }}
        </div>
        <div class="form-group">
            {{ form_label(form.importFrom) }}
            {{ form_errors(form.importFrom) }}
            {{ form_widget(form.importFrom, {'attr': {'class': 'form-control'} }) }}
        </div>
        <div class="form-group">
            {{ form_label(form.publishStatus) }}
            {{ form_errors(form.publishStatus) }}
            {{ form_widget(form.publishStatus, {'attr': {'class': 'form-control'} }) }}
        </div>
        <div class="form-group">
            {{ form_label(form.expireDate) }}
            {{ form_errors(form.expireDate) }}
            {{ form_widget(form.expireDate) }}
        </div>
        <div class="form-group">
            {{ form_label(form.softDelete) }}
            {{ form_errors(form.softDelete) }}
            {{ form_widget(form.softDelete) }}
        </div>
        <div class="form-group">
            {{ form_label(form.showAtHomepage) }}
            {{ form_errors(form.showAtHomepage) }}
            {{ form_widget(form.showAtHomepage) }}
        </div>
        <div class="form-group">
            {{ form_label(form.updateAt) }}
            {{ form_errors(form.updateAt) }}
            {{ form_widget(form.updateAt, {'attr': {'class': 'form-control'} }) }}
        </div>
        <div class="form-group">
            {{ form_label(form.submit) }}
            {{ form_widget(form.submit, {'attr': {'class': 'btn btn-default'} }) }}
        </div>
        {% do form.tags.setRendered %}
        {% do form.cities.setRendered %}
        {% do form.imageLinks.setRendered %}
        {% do form.videoLinks.setRendered %}
        {{ form_end(form) }}

    </div>
    {% block footer %}
        <div class="container">
            {{ parent() }}
        </div>
    {% endblock %}
{% endblock %}


{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        /* Keep track of how many tags fields have been rendered */
        var tagsCount = '{{ form.tags|length }}';
        var imageLinkCount = '{{ form.imageLinks|length }}';
        var citiesCount = '{{ form.cities|length }}';
        var videoLinkCount = '{{ form.videoLinks|length }}';

        var countList = [tagsCount, imageLinkCount, citiesCount, videoLinkCount];

        jQuery(document).ready(function() {
            /* Create and add a delete button behind a input field of list */
            var addDeleteTag = function (liObj){
                var removeFormA = jQuery('<a href="#" class="btn btn-default btn-sm">X</a>');
                liObj.append(removeFormA);

                removeFormA.on('click', function(e) {
                    e.preventDefault();
                    liObj.remove();
                });
            }

            /* Run the addDeleteTag function by each input field of those lists */
            var updateDeleteListionser = function (){
                var collectionHolder = jQuery("[id*='fields-list']");
                collectionHolder.find('li').each(function() {
                    addDeleteTag($(this));
                });
            }

            updateDeleteListionser();

            var bindNewEvent = function(tagName, countIndex){
                jQuery('#add-another-' + tagName).click(function(e) {
                    e.preventDefault();
                    var addNewItem = function(countIndex, listId, holderText) {
                        var listObj = jQuery(listId);
                        var newWidget = listObj.attr('data-prototype');
                        newWidget = newWidget.replace(/__name__/g, countList[countIndex]);
                        countList[countIndex]++;
                        var newLi = jQuery('<li></li>').html(newWidget);
                        newLi.children().first().addClass('cg');
                        newLi.children().first().attr('placeholder', holderText);
                        addDeleteTag(newLi);
                        newLi.appendTo(listObj);
                    }
                    addNewItem(countIndex, '#' + tagName + '-fields-list', 'New ' + tagName);
                });
            }

            bindNewEvent('tag', 0);
            bindNewEvent('url', 1);
            bindNewEvent('city', 2);
            bindNewEvent('video', 3);
        })
    </script>
{% endblock %}
