{% extends "CodingGuysCMSBundle:PostsCRUD:layout.html.twig" %}

{% block mainContent %}
    <style>
        .item-count {
            color: #666;
            font-size: 12px;
            margin: 20px 0 10px;
        }
        .first-item {
            border-top: 1px solid #eee;
        }
        .item {
            border-bottom: 1px solid #eee;
            padding: 28px 0 18px;
        }
        .item strong {
            display: inline-block;
            color: #999;
            margin-right: 10px;
        }
        .inline-pcs {
            display: inline-block;
            margin-right: 10px;
        }
        .item-content {
            border-left: 4px solid #999;
            margin: 20px 0;
            padding: 10px;
        }
        .label-deleted {
            background-color: #f90c0a;
            color: #fff;
            display: inline-block;
            font-size: 12px;
            padding: 3px 5px;
            margin: 5px 0;
        }
    </style>
    <div class="container">
        <div class="page-header">
            <h2>Posts <a href="{{ path('posts_create') }}" class="btn btn-default btn-sm">Create</a></h2>
        </div>
        <form class="form-horizontal" role="form" method="get" action="">
            <div class="col-sm-8 col-xs-9">
                <div class="form-group">
                    <input name="q" type="text" placeholder="keyword" class="form-control" value="{{ q }}" >
                </div>
            </div>
            <div class="col-xs-2">
                <button type="submit" class="btn btn-primary">
                    <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                    <span>search</span>
                </button>
            </div>
        </form>
        <div class="clearfix"></div>
        <p class="item-count">{{ items.getTotalItemCount }} item(s)</p>
        {% for item in items %}
            <div class="{{ loop.first ? 'first-item item' : 'item' }}">
                {% if (true == item.softDelete) %}
                    <div class="label-deleted">deleted</div>
                {% endif %}
                {% if item.mnemonoBiz is not null %}
                    <p>
                        <strong>By: </strong>
                        <a href="{{ path('mnemonobiz_edit', {'id': item.mnemonoBiz.id })}}">{{ item.mnemonoBiz.name }}</a>
                    </p>
                {% endif %}

                <p class="item-content">{{ item.content ?? '---' }}</p>
                <p><strong>Status: </strong>{{ item.publishStatus }}</p>

                {% if item.tags %}
                    <p>
                        <strong>Tags: </strong>
                        {% for tag in item.tags %}
                            <span class="inline-pcs">{{ tag }}</span>&nbsp;
                        {% endfor %}
                    </p>
                {% endif %}

                {% if item.cities %}
                    <p>
                        <strong>City: </strong>
                        {% for city in item.cities %}
                            <span class="inline-pcs">{{ city }}</span>&nbsp;
                        {% endfor %}
                    </p>
                {% endif %}

                {% if item.meta is not null and item.importFrom == 'facebookFeed' %}
                    <p><strong>Facebook ID: </strong>{{ item.meta.fbId }}</p>
                    <p><strong>Total Likes: </strong>{{ item.meta.fbTotalLikes }}</p>
                    <p><strong>Total Comments: </strong>{{ item.meta.fbTotalComments }}</p>
                {% endif %}

                {% if item.localScore %}
                    <p>
                        <strong>Local Score: </strong>
                        <span class="inline-pcs">{{ item.localScore }}</span>&nbsp;
                    </p>
                {% endif %}

                {% if item.adminScore %}
                    <p>
                        <strong>Admin Score: </strong>
                        <span class="inline-pcs">{{ item.adminScore }}</span>&nbsp;
                    </p>
                {% endif %}

                {% if item.importFrom %}
                    <p>
                        <strong>Imported From: </strong>
                        <span class="inline-pcs">{{ item.importFrom }}</span>
                    </p>
                {% endif %}

                {% if item.updateAt %}
                    <p><strong>Updated At: </strong>{{ item.updateAt|date('Y-m-d H:i') }}</p>
                {% endif %}

                <p>
                    <a href="{{ path('posts_edit', { 'id': item.id }) }}">edit</a>
                    &nbsp;&middot;&nbsp;
                    <a href="{{ path('posts_show_snapshots', { 'id': item.id }) }}">snapshots</a>
                    &nbsp;&middot;&nbsp;
                    <a href="{{ path('posts_show_stats', { 'id': item.id }) }}">stats</a>
                </p>
            </div>
        {% endfor %}

        <div class="text-center">
            {{ knp_pagination_render(items) }}
        </div>
    </div>
    {% block footer %}
        <div class="container">
            {{ parent() }}
        </div>
    {% endblock %}
{% endblock %}
