{% extends "CodingGuysCMSBundle:MnemonoBiz:layout.html.twig" %}

{% block mainContent %}
    <style>
        .item-count {
            color: #666;
            font-size: 12px;
            margin: 20px 0 10px;
        }
        .first-item {
            border-top: 1px solid #ccc;
        }
        .item {
            border-bottom: 1px solid #ccc;
            padding: 18px 0;
        }
        .item-title {
            margin: 10px 0 18px;
        }
        .item strong {
            display: inline-block;
            color: #999;
            margin-right: 10px;
        }
        .inline-pcs {
            display: inline-block;
            margin-right: 10px;
        }
    </style>
    <div class="container">
        <div class="page-header">
            <h2>Biz <a href="{{ path('mnemonobiz_new') }}" class="btn btn-default btn-sm">Create</a></h2>
        </div>
        <form class="form-horizontal" role="form" method="get" action="">
            <div class="col-sm-8 col-xs-9">
                <div class="form-group">
                    <input name="q" type="text" placeholder="keyword" class="form-control" value="{{ q }}" >
                </div>
            </div>
            <div class="col-xs-2">
                <button type="submit" class="btn btn-primary">
                    <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                    <span>search</span>
                </button>
            </div>
        </form>
        <div class="clearfix"></div>
        <p class="item-count">{{ items.getTotalItemCount }} item(s)</p>
        {% for item in items %}
            <div class="{{ loop.first ? 'first-item item' : 'item' }}">
                <h3 class="item-title">
                    <a href="{{ path('mnemonobiz_edit', { 'id': item.id }) }}">{{ item.name }}</a>
                </h3>

                {% if item.shortDesc %}
                    <p>{{ item.shortDesc }}</p>
                {% endif %}

                {% if item.category %}
                    <p>
                        <strong>Category:</strong>
                        <span class="inline-pcs">{{ item.category }}</span>
                    </p>
                {% endif %}

                {% if item.tags %}
                    <p>
                        <strong>Tags: </strong>
                        {% for tag in item.tags %}
                            <span class="inline-pcs">{{ tag }}</span>&nbsp;
                        {% endfor %}
                    </p>
                {% endif %}

                {% if item.cities %}
                    <p>
                        <strong>City: </strong>
                        {% for city in item.cities %}
                            <span class="inline-pcs">{{ city }}</span>&nbsp;
                        {% endfor %}
                    </p>
                {% endif %}

                {% if item.websites %}
                    <p>
                        <strong>Official link: </strong>
                        {% for website in item.websites %}
                            <span class="inline-pcs"><a href="{{ website }}">link</a></span>&nbsp;
                        {% endfor %}
                    </p>
                {% endif %}

                {% if item.weighting %}
                    <p>
                        <strong>Weight: </strong>
                        <span class="inline-pcs">{{ item.weighting }}</span>&nbsp;
                    </p>
                {% endif %}

                {% if item.importFrom %}
                    <p>
                        <strong>Imported From: </strong>
                        <span class="inline-pcs">{{ item.importFrom }}</span>
                    </p>
                {% endif %}

                {% if item.lastPostUpdateAt %}
                    <p><strong>Updated At: </strong>{{ item.lastPostUpdateAt|date('Y-m-d H:i') }}</p>
                {% endif %}

                <p>
                    <a href="{{ path('mnemonobiz_edit', { 'id': item.id }) }}">edit</a>
                    &nbsp;&middot;&nbsp;
                    <a href="{{ path('mnemonobiz_show_snapshots', { 'id': item.id }) }}">snapshots</a>
                    &nbsp;&middot;&nbsp;
                    <a href="{{ path('mnemonobiz_show_stats', { 'id': item.id }) }}">stats</a>
                    &nbsp;&middot;&nbsp;
                    {% set q = 'byid:' ~ item.id %}
                    <a href="{{ path('posts_home', { 'q':  q }) }}">posts</a>
                </p>
            </div>
        {% endfor %}
        <div class="text-center">
            {{ knp_pagination_render(items) }}
        </div>
    </div>

    {% block footer %}
        <div class="container">
            {{ parent() }}
        </div>
    {% endblock %}
{% endblock %}
