{% extends "CodingGuysCMSBundle:MnemonoBiz:layout.html.twig" %}

{% block mainContent %}
    <style>
        .row-content {
        }
        .col-header {
            border-bottom: 1px solid #ccc;
            font-weight: bold;
            padding: 10px 0;
            text-align: center;
        }
        .col-content {
            border-bottom: 1px solid #ccc;
            padding: 10px 0;
            text-align: center;
        }
    </style>
    <div class="container">
        <div class="page-header">
            <a href="{{ path('mnemonobiz_home') }}">All Biz</a>
            <h2>Snapshots: {{ biz.name }}</h2>
            <p>
                <a href="{{ path('mnemonobiz_edit', { 'id': biz.id }) }}">edit biz</a>
                &nbsp;&middot;&nbsp;
                <a href="{{ path('mnemonobiz_show_stats', { 'id': biz.id }) }}">stats</a>
            </p>
            <p>
                [ {{ start|date('Y-m-d H:i') }}, {{ end|date('Y-m-d H:i') }} ]
            </p>
        </div>

        <div class="container">
            {% if snapshots|length > 0 %}
                <div class="row row-content">
                    <div class="col-xs-1 col-header">fan</div>
                    <div class="col-xs-1 col-header">talking about</div>
                    <div class="col-xs-1 col-header">were here</div>
                    <div class="col-xs-1 col-header">overall rating</div>
                    <div class="col-xs-1 col-header">rating count</div>
                    <div class="col-xs-2 col-header">updated at</div>
                </div>
                {% for snapshot in snapshots %}
                    <div class="row row-content">
                        <div class="col-xs-1 col-content">
                            {{ snapshot.fanCount ?? '---' }}
                        </div>
                        <div class="col-xs-1 col-content">
                            {{ snapshot.talkingAboutCount ?? '---' }}
                        </div>
                        <div class="col-xs-1 col-content">
                            {{ snapshot.wereHereCount ?? '---' }}
                        </div>
                        <div class="col-xs-1 col-content">
                            {{ snapshot.overallStarRating ?? '---' }}
                        </div>
                        <div class="col-xs-1 col-content">
                            {{ snapshot.ratingCount ?? '---' }}
                        </div>
                        <div class="col-xs-2 col-content">
                            {{ snapshot.updateTime|date('Y-m-d H:i') }}
                        </div>
                    </div>
                {% endfor %}
            {% else %}
                <div class="text-center">
                  <p style="color: #999; font-size: 24px;">NO DATA</p>
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}
