{% extends "AppBundle:layout:layout.html.twig" %}

{% block headerBar %}
    <ul class="nav navbar-nav">
        <li class="active">
            <a href="{{ path('@BackendHome') }}">Dashboard</a>
        </li>
    </ul>
    <ul class="nav navbar-nav">
        <li class="active">
            <a href="{{ path('mnemonobiz_home') }}">MnemonoBiz</a>
        </li>
    </ul>
{% endblock %}

{% block mainContent %}
    <style>
        .cg{
            width:80%;
            margin-right: 10px;
            margin-bottom: 5px;
            margin-top: 5px;
        }
    </style>
    <div class="container">
        <h2>{{ header }}</h2>
        {{ form_start(form) }}
        {{ form_errors(form) }}
        <div class="form-group">
            {{ form_label(form.name) }}
            {{ form_errors(form.name) }}
            {{ form_widget(form.name, {'attr': {'class': 'form-control'} }) }}
        </div>
        <div class="form-group">
            {{ form_label(form.shortDesc) }}
            {{ form_errors(form.shortDesc) }}
            {{ form_widget(form.shortDesc, {'attr': {'class': 'form-control'} }) }}
        </div>
        <div class="form-group">
            {{ form_label(form.longDesc) }}
            {{ form_errors(form.longDesc) }}
            {{ form_widget(form.longDesc, {'attr': {'class': 'form-control'} }) }}
        </div>
        <div class="form-group">
            {{ form_label(form.category) }}
            {{ form_errors(form.category) }}
            {{ form_widget(form.category, {'attr': {'class': 'form-control'} }) }}
        </div>
        <div class="form-group">
            {{ form_label(form.tags) }}
            <a id="add-another-tag" href="#" class="btn btn-default btn-sm">Add another tag</a>
            <ul id="tag-fields-list" data-prototype="{{ form_widget(form.tags.vars.prototype)|e }}">
                {% for tag in form.tags %}
                    <li>
                    {{ form_errors(tag) }}
                    {{ form_widget(tag, {'attr': {'class': 'cg'} }) }}
                    </li>
                {% endfor %}
            </ul>
        </div>
        <div class="form-group">
            {{ form_label(form.location.address) }}
            {{ form_errors(form.location.address) }}
            {{ form_widget(form.location.address, {'attr': {'class': 'form-control'} }) }}
        </div>
        <div class="form-group">
            {{ form_label(form.location.city) }}
            {{ form_errors(form.location.city) }}
            {{ form_widget(form.location.city, {'attr': {'class': 'form-control'} }) }}
        </div>
        <div class="form-group">
            {{ form_label(form.location.country) }}
            {{ form_errors(form.location.country) }}
            {{ form_widget(form.location.country, {'attr': {'class': 'form-control'} }) }}
        </div>
        <div class="form-group">
            {{ form_label(form.phones) }}
            <a id="add-another-phone" href="#" class="btn btn-default btn-sm">Add another phone number</a>
            <ul id="phone-fields-list" data-prototype="{{ form_widget(form.phones.vars.prototype)|e }}">
                {% for phone in form.phones %}
                    <li>
                        {{ form_errors(phone) }}
                        {{ form_widget(phone, {'attr': {'class': 'cg'} }) }}
                    </li>
                {% endfor %}
            </ul>
        </div>
        <div class="form-group">
            {{ form_label(form.faxes) }}
            <a id="add-another-fax" href="#" class="btn btn-default btn-sm">Add another fax number</a>
            <ul id="fax-fields-list" data-prototype="{{ form_widget(form.faxes.vars.prototype)|e }}">
                {% for fax in form.faxes %}
                    <li>
                        {{ form_errors(fax) }}
                        {{ form_widget(fax, {'attr': {'class': 'cg'} }) }}
                    </li>
                {% endfor %}
            </ul>
        </div>
        <div class="form-group">
            {{ form_label(form.websites) }}
            <a id="add-another-website" href="#" class="btn btn-default btn-sm">Add another website</a>
            <ul id="website-fields-list" data-prototype="{{ form_widget(form.websites.vars.prototype)|e }}">
                {% for website in form.websites %}
                    <li>
                        {{ form_errors(website) }}
                        {{ form_widget(website, {'attr': {'class': 'cg'} }) }}
                    </li>
                {% endfor %}
            </ul>
        </div>
        <div class="form-group">
            {{ form_label(form.weighting) }}
            {{ form_errors(form.weighting) }}
            {{ form_widget(form.weighting, {'attr': {'class': 'form-control'} }) }}
        </div>
        {#<div class="form-group">
            {{ form_label(form.importFrom) }}
            {{ form_errors(form.importFrom) }}
            {{ form_widget(form.importFrom, {'attr': {'class': 'form-control'} }) }}
        </div>#}
        {% do form.tags.setRendered %}
        {% do form.phones.setRendered %}
        {% do form.faxes.setRendered %}
        {% do form.websites.setRendered %}
        {% do form.importFrom.setRendered %}
        {{ form_end(form) }}

        <ul class="record_actions list list-inline">
            <li>
                <a href="{{ path('mnemonobiz_home') }}" class="btn btn-link">
                    Back to the list
                </a>
            </li>
        </ul>
    </div>
    {% block footer %}
        <div class="container">
            {{ parent() }}
        </div>
    {% endblock %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        /* Keep track of how many tags fields have been rendered */
        var tagsCount = '{{ form.tags|length }}';
        var phonesCount = '{{ form.phones|length }}';
        var faxesCount = '{{ form.faxes|length }}';
        var websitesCount = '{{ form.websites|length }}';

        var countList = [tagsCount, phonesCount, faxesCount, websitesCount];

        jQuery(document).ready(function() {
            /* Create and add a delete button behind a input field of list */
            var addDeleteTag = function (liObj){
                var removeFormA = jQuery('<a href="#" class="btn btn-default btn-sm">X</a>');
                liObj.append(removeFormA);

                removeFormA.on('click', function(e) {
                    e.preventDefault();
                    liObj.remove();
                });
            }

            /* Run the addDeleteTag function by each input field of those lists */
            var updateDeleteListionser = function (){
                var collectionHolder = jQuery("[id*='fields-list']");
                collectionHolder.find('li').each(function() {
                    addDeleteTag($(this));
                });
            }

            updateDeleteListionser();

            /* Add new item function */
            var addNewItem = function(key, tagName, holderText) {
                var urlList = jQuery(tagName);
                var newWidget = urlList.attr('data-prototype');
                newWidget = newWidget.replace(/__name__/g, tagsCount);
                countList[key]++;
                var newLi = jQuery('<li></li>').html(newWidget);
                newLi.children().first().addClass('cg');
                newLi.children().first().attr('placeholder', holderText);
                addDeleteTag(newLi);
                newLi.appendTo(urlList);
            }

            /* Add new item function of Tags */
            jQuery('#add-another-tag').click(function(e) {
                e.preventDefault();
                addNewItem(0, '#tag-fields-list', 'New Tag');
            });

            /* Add new item function of Phones */
            jQuery('#add-another-phone').click(function(e) {
                e.preventDefault();
                addNewItem(1, '#phone-fields-list', 'Phone Number');
            });

            /* Add new item function of Faxes */
            jQuery('#add-another-fax').click(function(e) {
                e.preventDefault();
                addNewItem(2, '#fax-fields-list', 'Fax Number');
            });

            /* Add new item function of Websites */
            jQuery('#add-another-website').click(function(e) {
                e.preventDefault();
                addNewItem(3, '#website-fields-list', 'URL');
            });
        })
    </script>
{% endblock %}