<ul class="nav navbar-nav">
    <li>
        <a href="{{ path('@BackendHome') }}">Dashboard</a>
    </li>
    <li>
        <a href="{{ path('mnemonobiz_home') }}">MnemonoBiz</a>
    </li>
    <li>
        <a href="{{ path('posts_home') }}">Posts</a>
    </li>
    <li>
        <a href="{{ path('weighting_home') }}">Settings</a>
    </li>
    <li>
        <a href="{{ path('managedTag_home') }}">Managed Tag</a>
    </li>
    <li>
        <a href="{{ path('spotlightAds_home') }}">Spotlight Ads</a>
    </li>
    <li>
        <a href="{{ path('post_report_home') }}">Report</a>
    </li>
    <li>
        <a href="{{ path('fos_user_security_logout') }}">Logout</a>
    </li>
</ul>