<ul class="nav navbar-nav">
    <li>
        <a href="{{ path('@BackendHome') }}">Dashboard</a>
    </li>
    <li>
        <a href="{{ path('mnemonobiz_home') }}">Biz</a>
    </li>
    <li>
        <a href="{{ path('posts_home') }}">Posts</a>
    </li>
    <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="Button">
            Post Reports
            <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
            <li>
                <a href="{{ path('popular_posts_home') }}">Popular FB Posts (sorting by metric)</a>
            </li>
            <li>
                <a href="{{ path('trending_posts_home') }}">Trending FB Posts (sorting by metric diff per min)</a>
            </li>
            <li>
                <a href="{{ path('pending_game_posts_home') }}">Pending Game Posts (by Keyword)</a>
            </li>
            <li>
                <a href="{{ path('pending_game_posts_nb') }}">Pending Game Posts (by Naive Bayes)</a>
            </li>
            <li>
                <a href="{{ path('pending_game_posts_knb') }}">Pending Game Posts (by Keyword &#8745; Naive Bayes)</a>
            </li>
            <li>
                <a href="{{ path('pending_game_posts_stats') }}">Pending Game Post Stats</a>
            </li>
            <li>
                <a href="{{ path('post_report_active_game') }}">Active Game Posts</a>
            </li>
        </ul>
    </li>
    <li>
        <a href="{{ path('weighting_home') }}">Settings</a>
    </li>
    <li>
        <a href="{{ path('managedTag_home') }}">Tags</a>
    </li>
    <li>
        <a href="{{ path('spotlightAds_home') }}">Ads</a>
    </li>
    <li>
        <a href="{{ path('post_report_home') }}">Report</a>
    </li>
    <li>
        <a href="{{ path('fos_user_security_logout') }}">Logout</a>
    </li>
</ul>
