{% extends 'CodingGuysCMSBundle:layout:layout.html.twig' %}


{% block headerBar %}
    {% include "CodingGuysCMSBundle:layout:nav.html.twig" %}
{% endblock %}

{% block mainContent %}
    <div class="jumbotron">

        <div class="container">
            <h1>Dashboard</h1>

            <div class="row">
                <div class="col-xs-6 col-sm-3">
                    <h2>MnemonoBiz</h2>
                    <a class="btn btn-default" href="{{ path('mnemonobiz_home') }}">View details</a></div>
                <div class="col-xs-6 col-sm-3">
                    <h2>Posts</h2>
                    <a class="btn btn-default" href="{{ path('posts_home') }}">View details</a></div>
                {#<div class="col-xs-6 col-sm-3">
                    <h2>Schools</h2>
                    <a class="btn btn-default" href="{{ path('schools_home') }}">View details</a></div>
                <div class="col-xs-6 col-sm-3">
                    <h2>Admin</h2>
                    <a class="btn btn-default" href="{{ path('admin_home') }}">View details</a></div>#}
            </div>
        </div>
    </div>
    {% block footer %}
        <div class="container">
            {{ parent() }}
        </div>
    {% endblock %}
{% endblock %}
