{% extends "CodingGuysCMSBundle:ManagedTag:layout.html.twig" %}

{% block mainContent %}
    <div class="container">
        {{ form_start(form) }}
        {{ form_errors(form) }}
        <div class="form-group">
            {{ form_label(form.name) }}
            {{ form_errors(form.name) }}
            {{ form_widget(form.name, {'attr': {'class': 'form-control'} }) }}
        </div>
        {{ form_end(form) }}

        <ul class="record_actions list list-inline">
            <li>
                <a href="{{ path('managedTag_home') }}" class="btn btn-link">
                    Back to the list
                </a>
            </li>
        </ul>
    </div>
{% endblock %}