{% extends "CodingGuysCMSBundle:MnemonoBiz:layout.html.twig" %}

{% block mainContent %}
    <style>
        th, li{
            white-space: nowrap;
        }
        ul{
            padding: 0;
            list-style-type: none;
        }
    </style>
    <div class="container">
        <div class="page-header">
            <h2>Tags <a href="{{ path('managedTag_create') }}" class="btn btn-default btn-sm">Create</a></h2>
        </div>
        <p>{{ pagination.getTotalItemCount }} item(s)</p>
        <table class="table table-striped">
        <thead>
        <tr>
            <th>Display Seq</th>
            <th>Key</th>
            <th>Chinese Name</th>
            <th>English Name</th>
            <th>Image Link</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
            {% for document in pagination %}
                <tr>
                    <td>{{ document.displaySeq }}</td>
                    <td><a href="{{ path('managedTag_edit', {id:document.id}) }}">{{ document.key }}</a></td>
                    <td>{{ document.nameChi }}</td>
                    <td>{{ document.nameEng }}</td>
                    <td><img src="{{ document.imageLink }}" style="max-width: 100px;"></td>
                    <td>
                        <a href="{{ path('managedTag_edit', {id:document.id}) }}">edit</a>
                            &nbsp;&middot;&nbsp;
                        <a href="{{ path('managedTag_delete', {id:document.id}) }}">delete</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
        </table>
    </div>
    <div class="text-center">
        {{ knp_pagination_render(pagination) }}
    </div>
{% endblock %}
