{% extends "CodingGuysCMSBundle:MnemonoBiz:layout.html.twig" %}

{% block mainContent %}
    <style>
        th, li{
            white-space: nowrap;
        }
        ul{
            padding: 0;
            list-style-type: none;
        }
    </style>
    <div class="container">
        <h1 class="page-header"><strong>Tags</strong></h1>
        <div class="navbar-header">
            <a class="btn btn-primary btn-large" href="{{ path('managedTag_create') }}"> Create Tag </a>
        </div>
        <table class="records_list table table-striped table-bordered table-condensed">
        <thead>
        <tr>
            <th>Key</th>
            <th>Chinese Name</th>
            <th>English Name</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody>
            {% for document in pagination %}
                <tr>
                    <td><a href="{{ path('managedTag_edit', {id:document.id}) }}">{{ document.key }}</a></td>
                    <td>{{ document.nameChi }}</td>
                    <td>{{ document.nameEng }}</td>
                    <td><a href="{{ path('managedTag_delete', {id:document.id}) }}">delete</a></td>
                </tr>
            {% endfor %}
        </tbody>
        </table>
    </div>
    <div class="text-center">
        {{ knp_pagination_render(pagination) }}
    </div>
{% endblock %}